<h1>warehousedetails</h1>
<table class="table">
    <thead>
        <tr>
            <td>email</td>
            <td>number</td>
            <td>city</td>
            <td>user_type</td>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>   {{userData?.data?.email}}</td>
            <td>   {{userData?.data?.warehousedetails?.number}}</td>
            <td>   {{userData?.data?.warehousedetails?.citydetails?.name}}</td>
            <td>   {{userData?.data?.user_type}}</td>

        </tr>
    </tbody>
</table>