<!-- <p>product works!</p>
<div class="table-responsive table table-striped table-bordered mt-4">
    <table class="table table-primary">
        <thead>
            <tr>
                <th scope="col">sr no</th>
                <th scope="col">name</th>
                <th scope="col">name</th>
            </tr>
        </thead>
        <tbody>
          
            <tr *ngFor="let product of productData; let i=index">
                <td >{{i+1}}</td>
                <td>{{product.category.name}}</td>
                <td>
                    <img ngSrc="{{product.images}}" width="50" height="50" > </td>
            </tr>
        </tbody>
    </table>
</div> -->

<p class="text-center">product works!</p>
<div class="">
 <!-- [allheaderList]===for All data ,
     [headerList]=for thew header titlet print,
     [bodyList]==for the body data printing where limit is present,
    (onEdit)=for edit purpose,
     (ondelete)=for delete ,
      (Onlist)=for no. of item show in a table -for selecting selectbox no,
        (OnPage)=for page no 
-->
    <app-reusable-table
        [allheaderList]="listData" 
        [headerList]="list"
        [bodyList]="data" 
        (onEdit)="editUser($event)" 
        (ondelete)="deleteUser($event)" 
        (OnstartList)="selectedStartList($event)" 
        (Onlist)="selectedlist($event)" 
        >
    </app-reusable-table>
</div>


