 <div class=" d-flex justify-content-end ">
        <button class="btn btn-danger m-3" (click)="logOut()"> log out</button>
    </div>
    <div class="d-flex justify-content-center ">
        <div class="spinner-border " role="status" *ngIf="!isLoader">
    <span class="visually-hidden">Loading...</span>
  </div> 
    </div>
    
<div class="" *ngIf="isLoader">
  
    <div class="container " style="border: 1px solid black;">
        <div class="">
            <input type="text" [(ngModel)]="name">
            <button (click)="seachName(name)">search</button>
        </div>
        <table class="table table-striped table-bordered mt-4 ">
            <thead class="table-dark bg-dark">
                <th>sr no </th>
                <th>product name</th>
                <th>product deta</th>
                <th>product category</th>
            </thead>
            <thead class="table-striped">
                <tr *ngFor="let item of productARR ; let i=index; trackBy:trackByproductData">
                    <td> {{i+1}} </td>
                    <td> {{item.product_name}} </td>
                    <td> {{item.product_detail}} </td>
                    <td>{{item.categorydetails?.name}}</td>
                </tr>
            </thead>

        </table>
        <div class=" d-flex justify-content-end ">
            <div class="">
                <select name="" id="" [(ngModel)]="limit" (change)="filterProductData()">
                    <option [value]="10">10</option>
                    <option [value]="20">20</option>
                    <option [value]="30">30</option>
                    <option [value]="50">50</option>
                    <option [value]="100">100</option>
                    <option [value]="last-100" *ngIf="last>110">{{last-100}}</option>
                    <option [value]="last" *ngIf="last>110">{{last}}</option>
                </select>
            </div>
            <nav aria-label="" class="ms-3">
                last page {{lastPage}}
                page {{page}}
                <ul class="pagination">
                    <li class="page-item ">
                        <span class="page-link" (click)="decrement()">Previous</span>
                    </li>
                    <li class="page-item"><a class="page-link" (click)="pageValue(page+0)"
                            *ngIf="page<lastPage ">{{page+0}}</a></li>
                    <li class="page-item"><a class="page-link" (click)="pageValue(page+1)"
                            *ngIf="page<lastPage">{{page+1}}</a></li>
                    <li class="page-item"><a class="page-link" (click)="pageValue(page+2)"
                            *ngIf="page<=lastPage-2">{{page+2}}</a></li>
                    <li class="page-item" *ngIf="last===to"><a class="page-link"> 1</a></li>
                    <li class="page-item">
                        <a class="page-link" (click)="increment()">Next</a>
                    </li>
                </ul>
            </nav>
        </div>
    </div>
</div>