<div class="d-flex justify-content-center mt-5">
    <div class="card col-md-8 col-12 p-3 ">
      <div class="card-header text-center">
        <h1>
          {{isSnapShotID?'Edit' :'Add'}} category
        </h1>
      </div>
      <div class="card-body">
        <form [formGroup]="form">
           <div class="form-group mt-3">
                <label for="name">category name</label>
                <input type="text"  class="form-control" id="name" formControlName="name">
                <div class="text-danger">
                  <ng-container *ngFor="let error of erroMSG.name">
                    <ng-container *ngIf="name?.hasError(error.type) && (name?.dirty || name?.touched)">
                      {{error.message}}
                    </ng-container>
                  </ng-container>
                </div>
      
              </div>
              <div class="form-group mt-3">
                <label for="image">category image</label>
                <input type="text"  class="form-control"id="image" formControlName="image">
              </div>
              <button class="btn btn-success mt-5" (click)="saveData()">save</button>
        </form>
      </div>
    </div>  
</div>
