/* You can add global styles to this file, and also import other style files */

.login{
    .eye-abs{
        position: relative;
        font-size: 20px;
        .eye-icon{
            position: absolute;
            top: 8px;
            right: 24px;
    
        }
    }
}